@media only screen and (min-width: 768px) {
    .poke-card {
        list-style: none;
        min-width: 12%;
        margin: 0.5em 1em;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .poke-card {
        list-style: none;
        min-width: 25%;
        margin: 0.5em 1em;
    }
}

#main {
    grid-template-columns: 100%;
    grid-template-rows: 20% 8% 72%;
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    grid-column: 1/2;
    grid-row: 2/3;
    max-height: 8vh;
}

main {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pokedex {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}



.card:hover {
    border: 2px solid gainsboro;
    bottom: 1em;
}

.poke-img {
    height: auto;
    width: 80%;
    margin: 0 auto;
}


.card-body {
    border-top: 1px solid gainsboro;
    background-color: rgb(233, 232, 232);
}

.card-text {
    height: 3em;
}

#more-btn {
    width: 10%;
}